.button {
    font-family: sans-serif;
    border-radius: 5px;
    border: 2px solid white;
    outline: none;
    background-color: gray;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    transition: border .4s;
    box-sizing: border-box;
    color: white;
}
.button:hover {

    border: 2px solid rgba(220,220,220,0.5);
}
.button:active {
    border: 2px solid rgba(220,220,220,0.5);
}