#h-container {
    position: relative;
    width: 100%;
    height: 100px;
    background-image: url("img/header_.svg");
    background-repeat: no-repeat;
    background-color: #685454;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-bottom: 0px;
}
.h-list {
    margin: 0;
    padding: 0;
    background: #685454;
    list-style-type: none;
    margin-bottom: 10px;
}
.h-list-item {
    background: #685454;
    display: inline-block;
    padding: 20px;
    color: white;
}
.h-list-item:hover {
    color: #18d918;
}
.right {
    position: absolute;
    right: 0;
}