h1{
    color: #f2f2f2;
    position: absolute;
    top: 5%;
    left: 45%;
    border-bottom: double red;
    border-radius: 15px;
    padding-bottom: 10px;
}
form{
    position: absolute;
    top: 15%;
    left: 41%;
}
textarea{
    background-color: gainsboro;
    padding: 10px;
    margin: 25px 0;
    border: 0;
    box-shadow:0 0 15px 2px red;
    border-radius: 10px;
    width: 90%;
}
body{
    background-color: darkgray;
}
label {
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    color: #f2f2f2;
}
#message{
    position: relative;
    left: 33%;
}
button{
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    left: 31%;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px red;
    border: 0;
    margin: 15px 0;
    width: 30%;
}
button:hover{
    background-color: crimson;
        box-shadow: 0 0 35px 5px red;
}