.body {
    position: relative;
    width: 80vw;
    margin: auto;
}
.container {
    position: relative;
    width: 100%;
    background-color: #f2f2f2;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 10px 10px;
    margin-bottom: 5px;
}
h3, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;
    color: rgb(74, 74, 74);
}
.pub-time {
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(74, 74, 74);
    padding-left: 5px;
}
.pub-time::before {
    content: "» ";
}
.author {
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;
}
.author a:link, :visited {
    text-decoration: none;
    color: darkred;
}
.author a:hover {
    text-decoration: underline;
}
.message {
    font-family: sans-serif;
    font-size: 0.9em;
    color: rgb(74, 74, 74);
    white-space: pre-line;
}
#answer_vote_number {
    font-family: sans-serif;
    font-size: 0.8em;
    color: rgb(74, 74, 74);
}
figcaption {
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(74, 74, 74);
}
img {
    max-height: 150px;
    margin-top: 10px;
}
.button {
    padding: 6px;
    background-color: lightgray;
    outline: none;
    border: none;
    font-size: 0.8em;
    transition: background-color 0.4s;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 2px;
}
.button:hover {
    background-color: darkgray;
}
#container_ {
    position: absolute;
    width: 40vw;
    box-shadow: 0px 0px 30px 2px gray;
    box-sizing: border-box;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i {
    text-decoration: none;
    font-size: 12px;
    color: rgb(74, 74, 74);
}
i:hover {
    color: darkred;
}
:link, :visited {
    text-decoration: none;
}
.answer {
    display: inline;
}
.answer-header {
    position: relative;
}
.answer-title {
    position: relative;
    display: inline-block;
}
.answer-cross {
    visibility: hidden;
    position: relative;
    display: inline-block;
    float: right;
}
.answers:hover .answer-cross {
    visibility: visible;
}
#answer_vote_number {
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(74, 74, 74);
}
a.title-link:hover {
    text-decoration: underline;
}
.block-header {
    position: relative;
    width: 100%;
    background-color: #cdcdcd;
    box-sizing: border-box;
    border: 1px solid white;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
.block-header-title {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(74, 74, 74);
}
.block-header-title-user {
    font-family: sans-serif;
    color: darkred;
    font-size: 20px;
    font-weight: bold;
}
.title:hover {
    text-decoration: underline;
}
.username {
    color: darkred;
}
td {
    font-family: sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
    color: rgb(74, 74, 74);
}
.td-id {
    font-weight: bold;
}
.td-data {
    padding-left: 10px;
}
#table-title {
    display: inline-block;
    padding-left: 2px;
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(74, 74, 74);
    margin-bottom: 15px;
}
#no-question-msg {
    font-family: sans-serif;
    font-size: 14px;
}
.tag, .new-tag {
    display: inline-block;
    border: 1px solid black;

    border-radius: 8px;
    padding: 0 6px 0 6px;
    font-family: sans-serif;
    font-size: 12px;
}
.tag {
    background-color: #cdcdcd;
}
.new-tag {
    background-color: #005691;
    color: #cdcdcd;
}
.new-tag:hover {
    color: #3af83a;
}
.tag-txt {
    font-family: sans-serif;
    font-size: 12px;
    color: rgb(74, 74, 74);
    padding-left: 5px;
}
.comment-container {
    position: relative;
    width: 100%;
    background-color: #b9e6d3;
    box-sizing: border-box;
    padding: 5px 5px;
    margin-top: 5px;
}
.btn-comment {
    margin-top: 10px;
}
.warning {
    color: red;
    opacity: 0;
    transition: opacity .5s;
}