<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Question</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='list.css') }}">
</head>
<body>
<a href="/list">Back to questions list</a>
<h1><strong>Ask A Question</strong></h1>
<form action="" method="POST">
    <label for="title">Title:</label><br>
    <input id="title" name="title" type="text" size="40" placeholder="story title"><br>
    <label for="message">Message:</label><br>
    <textarea id="message" name="message" placeholder="message" rows="5" cols="40"></textarea><br>
    <label for="image">Add your image url:</label><br>
    <input type="url" id="image" name="image"><br><br><br>
    <button type="submit">Add new question</button>
</form>
</body>
</html>
