<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post an answer</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="add-question.css") }}">
    <script src="{{ url_for('static', filename='file-handling.js') }}"></script>
</head>
<body>
<div id="body">
<div id="container">
    <div class="title">
        <h3 class="center">Edit answer</h3>
    </div>

    <form id="form" action="" method="POST" enctype="multipart/form-data">
        <textarea id="message" name="message" placeholder="Type your answer here ..." class="input center {{ "warning" if warnings['message'] }}"></textarea>
        {% if warnings['message'] %}
            <span class="text-warning center">{{ warnings['message'] }}</span>
        {% endif %}

        <div id="checkbox-container" class="center input">
            <input type="checkbox" id="image-remove" name="image-remove" value="remove">
            <label for="image-remove">Remove submitted image(s)</label>
        </div>

        <input type="file" id="image" name="image" class="center" accept="image/*" onchange="filePrev()" multiple>
        <div id="input-file-container" class="center input" style="border: 0px solid black;">
            <div id="input-file" onclick="selectFile()" class="center input-file">Select a file</div>
        </div>
        <div id="img-prev" class="center">
            {% if answer['image'] is not none %}
                {% for image_path in answer['image'] %}
                    <img src="{{ url_for('get_image', directory='answers', file_name=image_path) }}">
                {% endfor %}
            {% endif %}
        </div><br>

        <button type="submit" class="center button">Post new answer</button>
        <button type="button" class="center button" onclick="window.location.href='{{ url_for('question_details', question_id=answer['question_id']) }}';">Back to question details</button>
    </form>

</div>
    </div>
</body>
</html>