<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit question</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="add-question.css") }}">
</head>
<body>
<div id="body">
    <div id="container">
        <h3 class="center">Edit Question</h3>
        <form action="" method="post">
            <input required id="title" name="title" type="text" size="40" placeholder="Question title" class="center" value="{{ title }}"><br>
            <textarea required id="message" name="message" placeholder="Type your message here ..." class="center">{{ message }}</textarea><br>
            <button type="submit" class="center button">Submit</button>
            <button type="button" class="center button" onclick="window.location.href='{{ url_for('list') }}';">Back to questions list</button>
        </form>
    </div>
</div>
</body>
</html>