<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            {% for column_name in ['id', 'title'] %}
                <th>{{ column_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
            <tr>
                {% for key in ['id', 'title'] %}
                    <td>{{ question[key] }}</td>
                {% endfor %}
                <td><i class="far fa-thumbs-up"><i class="far fa-thumbs-down"></td>
                <td><a href=""><small>answer</small></a></td>
                <td><a href=""><small>delete</small></a></td>
            </tr>
        {% endfor %}
    </tbody>

</table>

</body>
</html>