<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='list.css') }}">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            {% for header in headers['headers'] %}
                <th>{{ header }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
            <tr>
                <td>
                    <div class="title"><a href="{{ url_for('question_details', question_id=question['id']) }}" class="title-link">{{ question['title'] }}</a></div>
                    <div class="message">{{ question['message'] }}</div>
                </td>

            {% for key in headers['keys'][2:] %}
                <td>{{ question[key] if key != 'submission_time' else time_to_utc(question[key]) }}</td>
            {% endfor %}


                <td>
                    <a href="{{ url_for('question_vote_up', question_id=question['id']) }}" title="Vote up" class="thumbs">
                        <i class="far fa-thumbs-up"></i>
                    </a>
                    <a href="{{ url_for('question_vote_down', question_id=question['id']) }}" title="Vote down" class="thumbs">
                        <i class="far fa-thumbs-down"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('question_delete', question_id=question['id']) }}" title="Delete question" class="thumbs">
                        <i class="far fa-trash-alt"></i>
                    </a>
            </tr>
        {% endfor %}
    </tbody>

</table>

</body>
</html>