<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='list.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search-field.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main-page.css') }}">
</head>
<body>
<div class="body">
    {% include "header.html" %}

    <div class="welcome_container">
        <div class="welcome_content">
            <h1>Hello {{ 'Mate!' if not session else session['username'] }}</h1>
            <p>Welcome to <em>AskMate</em>, feel free to ask anything that comes to your mind. </p>
            <p>Other mates could help resolve your problem, or maybe you could give someone a hand?  ^^</p>
            <p>So... how will it be ? Are we mates ?</p>
            <button class="button button_ask"><a href="{{ url_for('question_add') }}">Ask Q</a></button>
            <button class="button button_answer"><a href='{{ url_for('question_list') }}'>List Q</a></button>
        </div>
    </div>

    <div class="latest_questions">
        <table>
            <thead>
                <tr>
                    {% for header in headers['headers'] %}
                        <th>
                            {{ header }}
                            {% if headers['directions'][loop.index0] == 'asc' %}
                                <i class="fas fa-sort-down"></i>
                                {% elif headers['directions'][loop.index0] == 'desc' %}
                                <i class="fas fa-sort-up"></i>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>
                            <div class="title"><a href="{{ url_for('question_details', question_id=question['id']) }}" class="title-link">{{ question['title'] }}</a></div>
                            <div class="message">{{ question['message'] }}</div>
                        </td>
                    {% for key in headers['keys'][1:] %}
                        <td>{{ question[key] if key != 'submission_time' else time_to_utc(question[key]) }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
