<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for("static", filename="add-question.css") }}">
    <title>New Tag</title>
</head>
<body>
<div class="body">
    <div id="container">
        <div class="title">
            <h3 class="center">Add tag</h3>
        </div>

        <form action="" method="POST">
            <span class="center tag-txt">Choose a tag:</span>
            <select class="input center" name="select_tag">
                <option selected="selected"></option>
                {% for tag in all_tags %}
                    <option value={{ tag }}>{{ tag }}</option>
                {% endfor %}
            </select>
            <span class="center tag-txt">... or add a new one:</span>
            <input class="input center" type="text" name="add_tag"><br>
            <button type="submit" class="center button">Submit</button>
            <button type="button" class="center button" onclick="window.location.href='{{ url_for('question_details', question_id=question_id) }}';">Back to question details</button>
        </form>
    </div>
</div>


</body>
</html>