<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='question-details.css') }}">
    <title>Question details</title>
</head>
<body>
<div class="body">
    <div class="container">
        <h3 class="center">{{ question_data['title'] }}</h3>

        {% if session and session['user_id'] == question_data['user_id'] %}
            <a href="{{ url_for('question_edit', question_id=question_id) }}">
                <i class="far fa-edit"></i>
            </a>
        {% else %}
            <i class="far fa-edit"></i>
        {% endif %}
        <span class="pub-time">author:</span><span class="author"><a href="{{ url_for('user_details', user_id=question_data['user_id']) }}">{{ question_data['username'] }}</a></span>
        <span class="pub-time">{{ time_to_utc(question_data['submission_time']) }}
            {% if session %}
                {% if session['user_id'] == question_data['user_id'] %}
                    <a href="javascript:voteSameUser_alert('question');"><button id="vote_up_question"><b>+</b></button></a>
                    <a href="javascript:voteSameUser_alert('question');"><button id="vote_down_question"><b>-</b></button></a>
                {% elif session['user_id'] in question_data.users_id_that_vote %}
                    <a href="javascript:vote_alert('question');"><button id="vote_up_question"><b>+</b></button></a>
                    <a href="javascript:vote_alert('question');"><button id="vote_down_question"><b>-</b></button></a>
                {% else %}
                    <a href="{{ url_for('question_vote_up', question_id=question_data['id'])}}"><button id="vote_up_question"><b>+</b></button></a>
                    <a href="{{ url_for('question_vote_down', question_id=question_data['id'])}}"><button id="vote_down_question"><b>-</b></button></a>
                {% endif %}
            {% else %}
                <button id="vote_up_question"><b>+</b></button>
                <button id="vote_down_question"><b>-</b></button>
            {% endif %}
        {{ question_data['vote_number'] }}
        </span><br/>
    <span>
        tags:
        {% for tag in question_tags.items() %}
        {{ tag[1] }} <a href="{{ url_for('delete_tag', question_id=question_id, tag_id=tag[0]) }}">x</a>
        {% endfor %}
        <a href="{{ url_for('new_tag', question_id=question_id) }}">Add</a>
    </span>
        <p id="message">{{ question_data['message'] }}</p>
        {% if question_data['image'] is not none %}
            {% for image_url in question_data['image'] %}
                <img src="{{ url_for('get_image', directory='questions', file_name=image_url) }}">
                <figcaption>{{ image_url }} ({{ file_size('questions', image_url) }} kb)</figcaption>
            {% endfor %}
        {% endif %}

        <a href="{{ url_for('add_comment_to_question', question_id=question_data['id'])}}"><button id="comment"><b>Add comment</b></button></a>

        {# COMMENT #}
        {% for comment in comments%}
            {% if comment['answer_id'] is none %}
            <div class="comment-container" style="background-color: aquamarine">
                <span id="pub-time">{{ time_to_utc(comment['submission_time']) }}</span><br>
                {{ comment['message'] }}
            </div>
            {% endif %}
        {% endfor %}
    </div>

    {% for answer in answers_data %}
        <div class="container answers">
            <div class="answer-header">
                <div class="answer-title">
                    <h4 class="answer">Re: {{ question_data['title'] }}</h4>
                </div>
                {% if session %}
                    <div class="answer-cross">
                        <a href="{{ url_for('answer_delete', answer_id=answer['id']) }}"><i class="fas fa-times"></i></a>
                    </div>
                {% endif %}
            </div>
            <a href="{{ url_for('answer_edit', answer_id=answer['id']) }}">
                <i class="far fa-edit"></i>
            </a>

            <span class="pub-time">author:</span><span class="author"><a href="{{ url_for('user_details', user_id=answer['user_id']) }}">{{ answer['username'] }}</a></span>
            <span class="pub-time">{{ time_to_utc(answer['submission_time']) }}</span>

            <p id="message">{{ answer['message'] }}</p>
            {% if answer['image'] is not none %}
                {% for image_url in answer['image'] %}
                    <img src="{{ url_for('get_image', directory='answers', file_name=image_url) }}">
                    <figcaption>{{ image_url }} ({{ file_size('answers', image_url) }} kb)</figcaption>
                {% endfor %}
            {% endif %}
            <span id="answer_vote_number">
                Was it helpful?
                {% if session %}
                    {% if session['user_id'] == answer['user_id'] %}
                        <a href="javascript:voteSameUser_alert('answer');"><button id="vote_up_answer"><b>+</b></button></a>
                        <a href="javascript:voteSameUser_alert('answer');"><button id="vote_down_answer"><b>-</b></button></a>
                    {% elif session['user_id'] in answer.users_id_that_vote %}
                        <a href="javascript:vote_alert('answer');"><button id="vote_up_answer"><b>+</b></button></a>
                        <a href="javascript:vote_alert('answer');"><button id="vote_down_answer"><b>-</b></button></a>
                    {% else %}
                        <a href="{{ url_for('answer_vote_up', answer_id=answer['id'])}}"><button id="vote_up_answer"><b>+</b></button></a>
                        <a href="{{ url_for('answer_vote_down', answer_id=answer['id'])}}"><button id="vote_down_answer"><b>-</b></button></a>
                    {% endif %}
                {% else %}
                    <button id="vote_up_answer"><b>+</b></button>
                    <button id="vote_down_answer"><b>-</b></button>
                {% endif %}

                {{ answer['vote_number'] }}
            </span><br>

        <a href="{{ url_for('add_comment_to_answer', answer_id=answer['id'])}}"><button id="comment"><b>Add comment</b></button></a>

        {# COMMENT DISPLAY #}
        {% for comment in comments%}
            {% if comment['answer_id'] == answer['id'] %}
            <div class="comment-container" style="background-color: aquamarine">
                <span id="pub-time">{{ time_to_utc(comment['submission_time']) }}</span><br>
                {{ comment['message'] }}
            </div>
            {% endif %}
        {% endfor %}

        </div>
    {% endfor %}

    {% if session %}
        <button type="button" class="button" onclick="window.location.href='{{ url_for("answer_post", question_id=question_id) }}'">Add an answer</button>
    {% endif %}
    <button type="button" class="button" onclick="window.location.href='{{ url_for("question_list") }}'">Back to the list</button>
</div>

<script>
    function vote_alert(type) {
        alert('You have already voted for ' + type + '.');
    }

    function voteSameUser_alert(type) {
        alert('You cannot vote for your ' + type + '.');
    }
</script>
</body>
</html>
