<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='question-details.css') }}">
    <title>Question details</title>
</head>
<body>
<div class="body">
    <div class="container">
        <h3 class="center">{{ question_data['title'] }}</h3>
        <a href="{{ url_for('question_edit', question_id=question_id) }}">
            <i class="far fa-edit"></i>
        </a>
        <span id="pub-time">{{ time_to_utc(question_data['submission_time']) }}</span>
        <a href="{{ url_for('question_vote_up', question_id=question_data['id'])}}"><button id="vote_up_question"><b>+</b></button></a>
        <a href="{{ url_for('question_vote_down', question_id=question_data['id'])}}"><button id="vote_down_question"><b>-</b></button></a>
        <p id="message">{{ question_data['message'] }}</p>
        {% if question_data['image'] is not none %}
            {% for image_url in question_data['image'] %}
                <img src="{{ url_for('get_image', directory='questions', file_name=image_url) }}">
                <figcaption>{{ image_url }} ({{ file_size('questions', image_url) }} kb)</figcaption>
            {% endfor %}
        {% endif %}

        {# COMMENT #}
    </div>
    {% for answer in answers_data %}
        <div class="container answers">
            <div class="answer-header">
                <div class="answer-title">
                    <h4 class="answer">Re: {{ question_data['title'] }}</h4>
                </div>
                <div class="answer-cross">
                    <a href="{{ url_for('answer_delete', answer_id=answer['id']) }}"><i class="fas fa-times"></i></a>
                </div>
            </div>
            <i class="far fa-edit"></i>
            <span id="pub-time">{{ time_to_utc(answer['submission_time']) }}</span>
            <p id="message">{{ answer['message'] }}</p>
            {% if answer['image'] is not none %}
                {% for image_url in answer['image'] %}
                    <img src="{{ url_for('get_image', directory='answers', file_name=image_url) }}">
                    <figcaption>{{ image_url }} ({{ file_size('answers', image_url) }} kb)</figcaption>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <button type="button" class="button" onclick="window.location.href='{{ url_for("answer_post", question_id=question_id) }}'">Add an answer</button>
    <button type="button" class="button" onclick="window.location.href='{{ url_for("question_list") }}'">Back to the list</button>
</div>
</body>
</html>
