<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='list.css') }}">
</head>
<body>
    <div class="users_list">
        <table>
            <thead>
                <tr>
                    {% for header in headers['headers'] %}
                        <th>
                            {{ header }}
                            {% if headers['directions'][loop.index0] == 'asc' %}
                                <i class="fas fa-sort-down"></i>
                                {% elif headers['directions'][loop.index0] == 'desc' %}
                                <i class="fas fa-sort-up"></i>
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <div class="user_id" style="text-align: center">{{ user['user_id'] }}</div>
                        </td>
                    {% for key in headers['keys'][1:] %}
                        <td>{{ user[key] if key != 'submission_time' else time_to_utc(user[key]) }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        <tfoot>
            <tr>
                <td></td><td></td><td></td>
                <td>
                    <a href="{{ url_for("main_page") }}" title="Back to main menu">Back to main menu <i class="fas fa-undo"></i></a>
                </td>
            </tr>
        </tfoot>
        </table>
    </div>
</body>
</html>